# Ignore setup of local machine
.idea/

# Ignore Git
.git/
.github/

# Ignore WP standard folders to prevent overrides after online updates
wp-admin/*
wp-includes/*
wp-content/*

# Except the overrides we're interested in
!wp-content/themes
wp-content/themes/*
!wp-content/themes/foxy_illdy

# Ignore WP standard files
/wp-*.php
/index.php
/license.txt
/readme.html
/xmlrpc.php

# ignore log files and databases
*.log
*.sql
*.sqlite