<IfModule mod_rewrite.c>
	RewriteEngine On
	# [L] - Last, stop processing, [NC] - No Case (case insensitive), [QSA] - Query String Append

	# Lab subdomain, redirect to Salesforce Community
	RewriteCond %{HTTP_HOST} ^lab\.foxy-solutions\.com$ [NC]
	RewriteRule ^(.*)$ https://foxcreation-developer-edition.eu15.force.com/reiniersLab/s%{REQUEST_URI} [NC,L,QSA]

	# Github subdomain, redirect to Github
	RewriteCond %{HTTP_HOST} ^git\.foxy-solutions\.com$ [NC]
	RewriteRule ^(.*)$ https://github.com/foxcreation%{REQUEST_URI} [NC,L,QSA]

	# Wordpress dynamically generated redirects
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
	
	# Force https for full domain
	RewriteCond %{HTTPS} !=on [NC]
	RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>