<IfModule mod_rewrite.c>
	RewriteEngine On
	# [L] - Apache stop processing, [NC] - Non-CaseSentive, [QSA] - Query String Append

	# Lab subdomain, redirect to Salesforce Site
	RewriteCond %{HTTP_HOST} ^lab.foxy-solutions.com$ [NC]
    RewriteRule ^(.*)$ https://foxcreation-developer-edition.eu15.force.com/reiniersLab/s/%{REQUEST_URI} [NC,L,QSA]


	# Wordpress dynamically generated redirects
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
	
	# Force https for full domain
	RewriteCond %{HTTPS} !=on [NC]
	RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>